{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}FERREMAS{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="{% url 'index' %}">FERREMAS</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item"><a class="nav-link" href="{% url 'index' %}">Inicio</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'catalogo' %}">Catálogo</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'contactanos' %}">Contáctanos</a></li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    {% if user.is_authenticated %}
                        {% with carrito_count=user.carritoitem_set.count %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'ver_carrito' %}">
                                    Carrito
                                    {% if carrito_count > 0 %}
                                        <span class="badge badge-pill badge-primary">{{ carrito_count }}</span>
                                    {% endif %}
                                </a>
                            </li>
                        {% endwith %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Cerrar Sesión</a></li>
                    {% else %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'register' %}">Registrarse</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Iniciar Sesión</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    
    
    <main class="container mt-4">
        {% block content %}
       
        {% endblock %}
    </main>
    
    <footer class="footer mt-auto py-3 bg-light" >
        <div class="container text-center">
            <p class="mb-7">© 2024 FERREMAS</p>
        </div>
    </footer>
    <script src="{% static 'ferreteria/js/exchange_rate.js' %}" defer></script>  
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script> 
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>






